/*Nav------------------------------------------------------------------- */
/*.material-symbols-outlined,.material-symbols-rounded  {    
    color: blue;
}
*/
header {
    color: #000;
    width: 100%;
    height: 70px;
    background-color: whitesmoke;
}

.siteHeader {
    flex-direction: row;
    flex-wrap: nowrap;
    /*align-content: center*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: auto;
}

.menuLeft {
    display: flex;
    margin: 0px;
    padding: 0px;
    justify-content: flex-start;
    align-items: center;
    cursor: default;
}

.title {
    font-family: 'Gochi Hand', cursive;
    font-size: 40px;
    text-align: centre;
    margin-left: 69px;
    cursor: default;
}

.menuRight {
    float: right;
    cursor: default;
}

#btnMenu, #btnHelp, #btnLeaderboard, #btnSettings {
    font-size: 35px;
    cursor: pointer;
}

.about, .rules, .gameStats, .settings {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.welcome {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
}

.about-content, .rules-content, .gameStats-content, .settings-content, .welcome-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.about-content p, .rules-content p, .gameStats-content p, .settings-content p {
text-align: left;
}

.close, .close1, .close2, .close3, .close4 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close, .close1, .close2, .close3, .close4:hover,
  .close, .close1, .close2, .close3, .close4:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .about-content, .rules-content, .gameStats-content, .settings-content, .welcome-content {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }

/*input, button {
    font-family: helvetica, sans-serif;
	color: #212121;
	width:30px;
	padding-left: 5px;
}
*/

/*Game----------------------------------------------------------------- */

.game-container {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.indicator {
    display: grid;
    grid-template-columns: 2fr 2fr;

}

.score-indicator {
    float: right;
}

.wrapper {
    display: grid;
    grid-template-columns: 100%;

}


/*Tiles---------------------------------------------------------------- */

#game-board {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .letter-box {
    border: 2px solid gray;
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  .letter-row {
    display: flex;
  }

/*Letters Clicked------------------------------------------------------ */
.clicked-container {
    width: 150px;
    height: 150px;
}
.clicked-box {
    width: 120px;
    height: 100px;
    resize: none;
    padding: .5rem;
    font-size: 1.2rem;
    outline: none;
    border: 2px solid #000000;
    

}

/*Keyboard-------------------------------------------------------------- */
.keyboard-container {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;

/*    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    min-height: 100vh;
*/
}

.keyboard-container button {
    font-family: 'Lucida Console', 'Courier New', monospace;
    font-size: large;
    font-weight: bold;
    background-color: #d3d6da;
    border-width: 5px;
    border-color: #000000;
    border-style: outset;
    display: inline-block;
    padding: .5rem 1rem;
    margin: .3rem;
    color: #000000;
    width: 50px;
    height: 50px;
    border-radius: .5rem;
}

.keyboard-container button:nth-child(12) {
    margin-left: 40px;
}


.keyboard-container button:nth-child(21),
.keyboard-container button:nth-child(29){
    width: 95px;
}
.keyboard-box{
    align-content: center;
}


/*Hint Button ----------------------------------------------------------- */
.hint-container{
   
}

.hint-container button {
    font-family: 'Lucida Console', 'Courier New', monospace;
    font-size: larger;
    margin-left: auto;
    margin-right: auto;
    width: 100px;

    background-color: #000000;
    border-width: 5px;

    text-align: center; 
    padding: 10px;
    border: 5px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

.hint-container button:hover {
    background-color: #d3d6da;
    color: #000000;
    cursor: pointer;
}

.hint-text {
    text-align: right;
}

.hint-text button {
float: right;
}

/*Footer---------------------------------------------------------------- */
footer {
	padding-top:10px;
	text-align:center;
	font-size:10px;
	color: #000000;
    cursor: default;
}

/*Responsive------------------------------------------------------------ */
@media screen and (max-width: 780px) {
    .wrapper {
        display: grid;
        grid-template-columns: 100%;
    }
    .keyboard-container {
        order: 3;
    }
}
/*Modals----------------------------------------------------------------*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .gameOver-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
/*HINTS*/

.hint-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
/*Dropdown------------------------------------------------------------------
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}
  
  */
