/* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body style */
body {
  font-family: Arial, sans-serif;
  background-color: #9e4747;
}

/* Header style */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center; 

}

/* Navigation menu style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icon {
  cursor: pointer;
  display: inline-block 
  font-size: 1.5em
}
.logo a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
.logo a:hover {
  color: #fff;
  background-color: black;
}


.menu ul {
  display: flex;
  list-style: none;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
  	background-color: #fafafa;
	color: #000;
}


.menu li:hover > a {
	background-color: #ffffff;
	color: #000;
}

/* Container style */

.container {
  max-width: 1200px;
  margin: 50px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.container h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.container form {
    margin-top: 2rem;
}

.container form label {
    display: block;
    margin-bottom: 0.5rem;
}

.container form input[type="text"],
.container form select {
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.container form input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
}
.container input[type="submit"]:hover {
  background-color: #3e8e41;
} 
/* Form style */
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
select {
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #444;
}

.card {
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  margin-bottom: 20px;
}
/* Footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #333;
  color: #000000;
  text-align: center;
  padding: 10px;
}
.footer-container {
  background-color: #333;
  color: #fff;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}

/* Settings Page */

.settings-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #f2f2f2;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}

h3 {
  font-size: 1.2rem;
  margin-top: 20px;
}

label {
  display: inline-block;
  margin-right: 20px;
  font-size: 1rem;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 10px;
}

button[type="submit"] {
  display: block;
  margin: 30px auto 0;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}
